////////////////////////////////////////////
///// 		FEATURED PRODUCTS
///////////////////////////////////////////////

section.featurePanel {
	background: $themeGreyAlt1;

	@include sectionPadding041515(5%,2.5%);

	.wrapper {
		//flexbox
		@include flexboxSettings041715a;
		// justify-content: space-between;
		// align-content: space-between;
		// using space-between set the boxes too far apart
		justify-content: center;
		align-content: center;
		align-items: flex-start;
	}

	section.newIn, section.featured, section.top {
		// TESTING
		// border: 1px solid orange;

		//flex child
		flex: 1 auto;
		// could use flex: 1 33.33%
		flex: 1 33.33%;
		// to account for margin
		flex: 1 31.33%;

		margin: 0 1% 0 1%;

		@include iphone6Minus568R {
			flex: 1 100%;
			margin-bottom: 5%;
		}

		@include phoneR {
			flex: 1 100%;
			margin-bottom: 5%;
		}
	}
}

// FEATURE ENTRY  ------------------------------------------------
section.featurePanel section.featureEntry {

	// fill the space of the containers
	// section.newIn, section.featured, section.top
	width: 100%;

	//flexbox
	@include flexboxSettings042215a;
	align-items:flex-start;

	// TESTING
	// border: 2px dashed blue;

	h2 {
		font-size: $basefontsize*2;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin-bottom: 2%;
	}

}

section.featurePanel section.featureEntry .topBar {
	width: 100%;

	//flexbox
	@include flexboxSettings041715a;
	justify-content: space-between;
	align-content: space-between;

	div.logo, nav {
		//flex child
		flex: 1 0 auto;
	}

	nav {
		//flexbox
		@include flexboxSettings041715a;
		justify-content: flex-end;
		align-content: flex-end;
	}
}

// Feature Entry Top Bar Nav
section.featurePanel section.featureEntry .topBar nav {

	// buttons are size 30x20px
	span.fa.fa-angle-left, span.fa.fa-angle-right {
		width: 1.875em;
		height: 1.25em;
		color: $featureArrowColour;
		background: white;

		//flexbox
		@include flexboxSettings041715a;

		@include transitionEffectAllEaseOut(0.4s);

		&:hover {
			background: $themeYellow;
			color: black;
		}
	}

	span.fa.fa-angle-left {
		margin-right: 1.5%;
	}
	
	// span.fa.fa-angle-right {}
}

// Feature Entry Top Bar Selections
section.featurePanel section.featureEntry .selections {
	width: 100%;
	padding: 7%;
	background: $themeWhiteAlt1;
	margin-top: 10%;

	//flexbox
	// @include flexboxSettings042215a;
	// justify-content: space-around;
	// align-content: space-around;
}

// make the 2nd selection entry or section.selectEntry have margin top and bottom
section.featurePanel section.featureEntry .selections section.selectEntry:nth-of-type(2) {
	// background: blue;
	@include sectionMargins041515(10%,10%);

	// GLITCH:  the div on all of the 2nd elements were always larger than the 1st and 3rd requiring custom CSS to fix
	div.image {
		width: 2.328125em;
	}
}

// // END FEATURE ENTRY ------------------------------------------------

// SELECTION ENTRY  ------------------------------------------------
// these are the individual items within each feature entry
section.featurePanel section.selectEntry {

	width: 100%;

	//flexbox
	@include flexboxSettings041715a;
	justify-content: space-between;
	align-content: space-between;
	// center still seems to work better?
	// justify-content: center;
	// align-content: center;

	// IMAGE  ------------------------------------------------
	div.image {
		//flex child
		// flex:1 auto;
		flex:1 33.333333333%;
		// using flex: 1 auto causes the div.meta to shift onto the next line which isn't what I want
		
		@include iphone6Minus568R {
			flex:1 50%;
		}
	}
	// // END IMAGE ------------------------------------------------
	
	// META DATA  ------------------------------------------------
	.meta {
		//flexbox
		@include flexboxSettings042215a;
		align-items:flex-start;

		//flex child
		// flex:2 auto;
		flex:2 66.666666667%;	
		// using flex: 1 auto causes the div.meta to shift onto the next line which isn't what I want
		// width: 100%;

		@include iphone6Plus667R {
			// simply shrinking this one's flex-basis is enough to clear things up
			flex: 2 47.666667%;
		}

		@include iphone6Minus568R {
			flex:1 50%;
		}

		h3 {
			font-size: $basefontsize*0.9;
			text-transform: uppercase;
		}

		p.price {
			font-size: $basefontsize*1.2;
		}

		div.colourSelect {
			@include colourSelect042915a;
		}

	}
	// // END META DATA ------------------------------------------------

}
// // END SELECTION ENTRY ------------------------------------------------

///////////////////////////////////////////////
