////////////////////////////////////////////
///// 		NAVIGATION, PRIMARY
///////////////////////////////////////////////

// BANNER  ------------------------------------------------
header.navMenu section.banner {
	background: black;
	color: $themeWhite;
	text-transform: uppercase;

	// don't place flexbox in this parent... the one enclosing your target elements are in the .wrapper

	a {
		display: inline-block;
		margin:0;
		padding: 0;
		color: $themeWhite;
		font-size: $basefontsize;
	}

	p {
		display: inline-block;
		margin:0;
		padding:0;
	}

	.wrapper {
		// place the flexbox here not in the parent of section.banner
		//flex box
		@include flexboxRow1;
		justify-content: space-around;
		align-content: space-around;
		align-items: space-around;
	}

	// style the containing divs
	// using divs around the elements actually makes it easier for positioning
	.wrapper div {
		display: inline-block;
		margin:0;
		padding:0;
		flex: 1 25%;

		&:nth-of-type(1) {
			flex: 5 auto;
		}
		&:nth-of-type(2) {
			flex: 1 auto;
			@include flexboxRow1;
			justify-content: flex-end;
			align-content: flex-end;
		}
		&:nth-of-type(3) {
			flex: 1 auto;
			@include flexboxRow1;
			justify-content: flex-end;
			align-content: flex-end;

			@include iphone6Plus414R {
				flex: 1 50%;
			}

			@include iphone6Plus375R {
				flex: 1 50%;
			}

			img {
				display: inline-block;
				margin:0;
				padding:0;
				margin-right: 5%;
				height: 15px;
				width:15px;
				// background: $themeYellow;
			}
		}
		&:nth-of-type(4) {
			flex: 1 auto;
			@include flexboxRow1;
			justify-content: flex-start;
			align-content: flex-start;

			@include iphone6Plus414R {
				flex: 1 50%;
			}

			@include iphone6Plus375R {
				flex: 1 50%;
			}

			p {
				line-height: $baselineheight*1.7225;
				padding-left: 15%;
			}
		}
	}

	// cart count
	.wrapper span.cartCount {
		color: $themeYellow;
		position: relative;
		margin-right: 9%;
	}

	
}
// // END BANNER ------------------------------------------------

// SEARCH/LOGO  ------------------------------------------------
header.navMenu section.search.logo {
	background: black;
	color: $themeWhite;
	position: relative;

	// centre the logo
	text-align: center;

	@include sectionPadding041515(2%,2%);

	.wrapper div {
		margin:0;
		padding:0;
		position: relative;
		width: auto;

		// positioning
		top: 1em;

		@include iphone6Plus375R {
			top: 0;
		}

		@include iphone6Minus320R {
			top: 0;
		}

		// add the icon before
		&::before {
			@include beforeAfterIconPlace042215a('\f002');
			position: absolute;
			color: $themeWhite2;
			// background: yellow;
			top:0;
			left:0;
			font-size: $basefontsize;
			font-weight: 100;
		}


	}

	input {
		position: absolute;
		font-size: $basefontsize;
		color: $themeWhite;
		text-transform: uppercase;

		// testing
		// border:1px solid $themeWhite;

		// positioning
		left:0;
		top:34%;
		margin: 0 0 0 3%;
		// padding: 0 3% 0 0;
		width: 20em;

		//add the icon before
		// &::before {
		// 	@include beforeAfterIconPlace042215a('\f002');
		// 	// position: absolute;
		// 	color: $themeWhite;
		// 	background: yellow;
		// 	margin:0;
		// }
		
		@include iphone6Plus414R {
			margin-bottom: 5%;
			width: 95%;
			display: block;
			position: static;
			// margin-left: 8%;
			text-align: center;
		}

		@include iphone6Plus375R {
			margin-bottom: 5%;
			width: 95%;
			display: block;
			position: static;
			// margin-left: 8%;
			text-align: center;
		}

		@include iphone6Minus320R {
			margin-bottom: 5%;
			width: 95%;
			display: block;
			position: static;
			// margin-left: 8%;
			text-align: center;
		}
	}

	img {
		display: inline-block;
		margin:0;
		padding:0;
		width: 3.4375em;
		height: 3.4375em;

		@include iphone6Plus414R {
			margin-top: 2.5%;
			margin-bottom: 2.5%;
		}

		@include iphone6Plus375R {
			// margin-top: 2.5%;
			margin-top: -1.5%;
			margin-bottom: 2.5%;
		}
	}
}
// // END SEARCH/LOGO ------------------------------------------------



// NAV MENU  ------------------------------------------------
header.navMenu nav {
	background: $themeYellow;
	color: black;

	.wrapper {
		@include sectionPadding041515(1%,1%);
	}

	ul {
		@include flexboxRow1;
		justify-content: center;
		align-content: center;
		justify-content: space-between;
		align-content: space-between;

		// set width to max
		width: 100%;
	}

	li {
		// flex child
		flex: 1 auto;

		// align a elements
		text-align: center;

		// for backup slash hooks
		position: relative;

		//flexbox
		// we need to centre all the a elements within the li's (even though they're inline blocks)
		@include flexboxRow1;
		justify-content: center;
		align-content: center;

		// margin-bottom: 0.5%;

		// @include ipadAir1024R {
		// 	margin-bottom: 5%;
		// 	// margin-bottom: 0.5%;
		// }

		// @include desktopR {
		// 	margin-bottom: 0;
		// }

		// @include tabletR {
		// 	margin-bottom: 5%;
		// 	// margin-bottom: 0.5%;
		// }

		// @include iphone6Minus320R {
		// 	//flexbox
		// 	// we need to centre all the a elements within the li's (even though they're inline blocks)
		// 	@include flexboxRow1;
		// 	justify-content: center;
		// 	align-content: center;
		// }

		// &:nth-of-type(4) {
		// 	@include iphone6Plus414R {
		// 		margin-bottom: 0.5%;
		// 	}
		// }

		// &:nth-of-type(5), &:nth-of-type(6) {
		// 	@include desktopR {
		// 		margin-bottom: 0;
		// 	}
		// 	@include iphone6Minus568R {
		// 		margin-bottom: 0.5%;
		// 	}
		// 	@include iphone6Plus375R {
		// 		margin-bottom: 5%;
		// 	}
		// 	@include iphone6Minus320R {
		// 		margin-bottom: 5%;
		// 	}
		// }

		// &:nth-of-type(7), &:nth-of-type(8) {
		// 	@include ipadAir1024R {
		// 		margin-bottom: 0.5%;
		// 	}
		// 	@include desktopR {
		// 		margin-bottom: 0;
		// 	}
		// 	@include iphone6Plus414R {
		// 		margin-top: 3.5%;
		// 	}
		// 	@include iphone6Minus320R {
		// 		margin-bottom: 5%;
		// 	}
		// }

		// &:nth-of-type(6) {
		// 	@include iphone6Plus667R {
		// 		margin-bottom: 0.5%;
		// 	}
		// }

		// discard
		// &:nth-of-type(8) {
		// 	@include ipadAir1024R {
		// 		margin-bottom: 0.5%;
		// 	}
		// }
	}

	// for styling link a elements see below
}

// for the a elements to move they must not be inline unless you're using ul li
header.navMenu nav a {
	// if using inline block
	@include marginPaddingReset1;

	text-transform: uppercase;
	// font-size: $basefontsize*1.1;
	font-size: $basefontsize*0.9;
	font-weight: 900;
	color: black;
	letter-spacing: 0.1em;

	// use padding to create button
	// @include scalePadding042815a(20%,5%);

	// use set height and width
	// to use this a must be an inline block
	// 139x26px
	// seems to be more accurate to use ems instead of percentage
	// as the browser shrinks the percentage changes causing the buttons to magnify
	// WARNING:  if you use the padding version flexbox doesn't naturally act responsive
	display: inline-block;
	// width: 8.6875em;
	// height: 1.625em;
	width: 11.6875em;
	height: 2.025em;

	// flexbox
	// if using inline block
	@include flexboxRow1;

	@include desktopR {
		// use padding to create button
		// change padding
		// padding: 5% 10% 5% 10%;
	}

	// to allow us to hook the slanted slash
	position: relative;
	z-index: 5;

	// we don't want the slash to block the colour of the link text... assing background
	background: $themeYellow;

	// enable transitions
	@include transitionEffectAllEaseOut(0.4s);
	&:hover {
		background: black;
		color: $themeYellow;
	}

	&:hover > div.slash {
		display: block;
	}

	// enable the slashes to appear when the link is hovered over
	
}

////////////////////////////////////////////
///// 		SLANTED SLASH
///////////////////////////////////////////////

// it appears I have to manually adjust the slanted slash

// BASE/NEW ARRIVALS
header.navMenu nav ul div.slash {
	// DEFAULT
	// comment out to disable and style easily
	display: none;

	border: 1px solid black;
	background: none;
	// width: 37%;
	width: 53%;
	@include transformRotate(-64deg);

	position: absolute;
	top: 39%;
	left: 17%;
	// set z-index to -5 to put it behind .bar and .extraShader... you still need .extraShader (if you comment .extraShader out the line appears)
	z-index: -5;

	@include desktopR {
		width: 40%;
	}

	@include tabletR {
		width: 34%;
	}
}

// WOMEN
header.navMenu nav ul li:nth-of-type(2) div.slash {
	// width: 70%;
	left: 22%;
}

// MEN
header.navMenu nav ul li:nth-of-type(3) div.slash {
	// width: 110%;
	// left: -7%;
	left: 22%;
}

// ACCESSORIES
header.navMenu nav ul li:nth-of-type(4) div.slash {
	// width: 40%;
	left: 25%;
}

// DRESS
header.navMenu nav ul li:nth-of-type(5) div.slash {
	// width: 79%;
	left: 5%;
	left: 22%;
}

// SALES-OFF
header.navMenu nav ul li:nth-of-type(6) div.slash {
	// width: 49%;
}

// LOOKBOOK
header.navMenu nav ul li:nth-of-type(7) div.slash {
	// width: 51%;
	left: 24%;
}

// THIS WEEK
header.navMenu nav ul li:nth-of-type(8) div.slash {
	// width: 50%;
}

///////////////////////////////////////////////



// // END NAV MENU ------------------------------------------------



///////////////////////////////////////////////