////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////



////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'normalize';
@import 'grid';
@import 'responsive';
@import 'variables.global.041415.1';
@import 'columns';
@import 'typography';
@import 'mixins.universal';
@import 'mixins.project';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// see typography.scss

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

@mixin baseParagraphStyle {
	// to change the base paragraph style
	line-height: $baselineheight*1.66;
	// margin-bottom: 20px;
	font-size: $basefontsize;
	font-family: $basefontfamily;
}

////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

body {
	font-family: $basefontfamily;
	font-size: $basefontsize;
	background: $basebackcolor;
	position: relative;
	// z-index: 10;
	
	// custom add
	letter-spacing: 0.1em;
}

.wrapper {
	max-width: 64%;
	margin: 0 auto;
	position: relative;
	// z-index: 10;
	
	@include desktopR {
		max-width: 90%;
	}
}

// .main {
// 	margin: 2% -1% 2% 2%;
// }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

// for some mysterious reason a dot kept appearing in the header fixed nav menu so I decided to set that global li's would be default list-style-type: none unless specified otherwise.
li {
	list-style-type: none;
}

p {
	// to adjust this change the mixin
	@include baseParagraphStyle;
}


// various partials are imported below and represent different portions or sections of various pages...
// if this is a multiple page site, some partials are re-used

////////////////////////////////////////////
///// 		COMPANY LOGO
///////////////////////////////////////////////

@import 'company.logo.043015.1';

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		SLIDE OUT SHOPPING CART
///////////////////////////////////////////////

@import 'slideOutShopCart.050115.1';

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		NAV
///////////////////////////////////////////////

@import 'nav.042715.1';

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		INDEX.HTML/INDEX.JADE
///////////////////////////////////////////////

@import 'index.scss';

///////////////////////////////////////////////  

////////////////////////////////////////////
///// 		FOOTER
///////////////////////////////////////////////

@import 'footer.042715.1';

///////////////////////////////////////////////

