////////////////////////////////////////////
///// 		TESTIMONIALS
///////////////////////////////////////////////

section.testimonials {
	background: black;
	color: white;

	text-align: center;

	@include sectionPadding041515(3%,4%);

	p, h2 {
		text-transform: uppercase;
	}

	p {
		font-size: $basefontsize*0.8;

		&.leadIn {
			margin-bottom: 1%;
		}
	}

	h2 {
		font-size: $basefontsize*2;
		letter-spacing: 0.3em;
		margin-bottom: 2%;

		@include desktopR {
			margin-bottom: 3%;
		}
	}

	blockquote, cite {
		color: black;
	}

	blockquote {
		font-size: $basefontsize*0.9;
		font-style: italic;
		letter-spacing: 0.3em;
	}

	cite {
		font-size: $basefontsize*0.9;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-weight: bold;
	}

	.wrapper {
		//flexbox
		@include flexboxColumn1;
		// the wrapper is what holds the target elements... don't place the flexbox on section.testimonials
	}

}

// we want the other testimonials to not appear
// we will write jQuery to select the other testimonials
// yet if JS is disabled is there a way to write this such that you can select the other entries using only CSS?
section.testimonials ul.testimonialList li:nth-of-type(2), section.testimonials ul.testimonialList li:nth-of-type(3) {
	display: none;
}

// CHANGE THE COLOUR OF THE SLASH TO BE YELLOW
section.testimonials aside.companyLogo .slash {
	@include companyLogoSlashStyle1($themeYellow);
}

// TESTIMONIAL LIST
section.testimonials ul.testimonialList {
	margin-top: 5%;
	margin-bottom: 3.5%;
}

////////////////////////////////////////////
// TESTIMONIAL ENTRY
// located within a ul li element
section.testimonials section.testimonialEntry {
	background: $themeYellow;
	text-align: center;

	//flexbox
	@include flexboxColumn1;
	justify-content: center;

	//- size 539x133px
	width: 33.6875em;
	height: 8.3125em;

	position: relative;

	@include iphone6Plus414R {
		width: 23.6875em;
	}

	@include iphone6Plus375R {
		width: 21.6875em;
	}

	@include iphone6Minus320R {
		width: 17.6875em;
	}

	// SLASH  ------------------------------------------------
	// this modifies the div.slash that's been inserted into various mixin templates
	// the parent element must contain a div.slash BEFORE the element that will cut through it
	.slash {
		border: 1px solid black;
		width: 37%;
		@include transformRotate(-64deg);

		position: absolute;
		top: 48%;
		left: 22%;
		// set z-index to -5 to put it behind .bar and .extraShader... you still need .extraShader (if you comment .extraShader out the line appears)
		z-index: -5;

		@include iphone6Plus414R {
			width: 54%;
			left: 9%;
		}

		@include iphone6Plus375R {
			width: 54%;
			left: 7%;
		}

		@include iphone6Minus320R {
			width: 65%;
			left:-1%;
		}
	}
	// // END SLASH ------------------------------------------------

	.entryText {
		width: 82%;

		position: relative;
		z-index: 5;

		background: $themeYellow;
		// background: blue;
		
		//flexbox
		// @include flexboxColumn1;
	}

	// &::before {
	// 	@include slantSlash2(black);
	// }

	// this version is too thick since you can only use a character like / or |
	// .entryText::before {
	// 	@include slantSlash2(black);
	// 	// top:-0.50em;
	// 	// top:-0.6em;
	// 	top:-0.45em;
	// }

	// div {
	// 	margin:0;
	// 	padding:0;
	// 	margin-bottom: 3%;

	// 	// WARNING:  don't forget to set the background of this element so you can see it above the line!
	// 	background: $themeYellow;

	// 	@include sectionPadding041515(5%,5%);
	// }

	//- NOTE:  the best way to get the right background setup to blot out the slash behind it is to make cite a child of blockquote and apply a margin top to cite

	blockquote {
		// margin-bottom: 3%;

		// z-index: 6;
		// position: relative;

		// WARNING:  don't forget to set the background of this element so you can see it above the line!
		background: $themeYellow;
		padding-top: 7%;
	}

	cite {
		margin-top: 3%;
		display: block;
		// WARNING:  don't forget to set the background of this element so you can see it above the line!
		background: $themeYellow;
		// used the padding left so that the cite element would be long enough to cut through the slanted slash
		padding: 0 20% 0 20%;
	}

	// blockquote::before {
	// 	@include slantSlash2(black);
	// 	// had to set the z-index to -ve negative values to get it behind a link background
	// 	z-index:-5;
	// 	// top: -66%;
	// 	top: -0.55em;
	// 	left: 35%;
	// }
}

////////////////////////////////////////////

// TESTIMONIAL SELECTOR NAV
section.testimonials ul.selectorNav {
	// TESTING
	// border: 5px solid yellow;
	width:100%;

	//flexbox
	@include flexboxRow1;
	justify-content: center;
	align-content: center;

	li {
		// size 13x7px
		
		// TESTING
		// border: 1px solid yellow;

		width: .8125em;
		height: .4375em;
		margin: 0 0.10em 0 0.10em;

		background: white;
		cursor: pointer;

		@include transitionEffectAllEaseOut(0.4s);
	}

	li:nth-of-type(1) {
		background: $themeYellow;
	}

	li:hover {
		background: $themeYellow;
	}
	
}

////////////////////////////////////////////

///////////////////////////////////////////////