////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONTS  ------------------------------------------------
// for headers
// $montserrat: 'Montserrat', sans-serif;
// for text
// $lora: 'Lora', serif;
// // END FONTS ------------------------------------------------

// COLOURS  ------------------------------------------------
// colours must go before the base
$themeYellow: #FBF200;
$themeYellow2: rgba(251, 242, 0,0.4);
$themeGrey: #F5F6F7;
$themeWhite: #DCDDDE;
$themeWhite2: rgba(220, 221, 222,0.4);
$themeWhite3: rgba(220, 221, 222,0.6);

// for the product display section
$productColourBack: #E9EAEB;
$productColourText: #7D7E7F;

// // END COLOURS ------------------------------------------------

// BASE  ------------------------------------------------

// NOTE:  the font family may have been placed on all elements for the base and header... see style.scss

$basefontfamily:'Gudea', sans-serif;
// $basefontsize:16px;
$basefontsize:10px;
$baselineheight:16px;
$baseFontColor: black;
$baseHoverColor: red;
$basebackcolor: grey;
// // END BASE ------------------------------------------------


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

// I almost always get rid of text decoration so why no just get rid of it by default?
a {
	text-decoration: none;
}

.italicIt {
	font-style: italic;
}

.boldIt {
	font-weight: 900;
}

.yellowHighlight {
	background: yellow;
}

.orangeHighlight {
	background: #ffbe74;
}

.crimsonWords {
	color: red;
}

