extends index.layout.030215.1.jade

block content
	include ./includes/heroBlock.042715.1.jade
	include ./includes/products.042715.1.jade
	include ./includes/testimonials.042715.1.jade
	include ./includes/featured.042715.1.jade
	include ./includes/newsletter.042715.1.jade