////////////////////////////////////////////
// 		FEATURED ITEMS
/////////////////////////////////////////

//- ===================================
//- 		MIXINS
//- ===================================

mixin selectEntry1(heading,priceVal,imgSrc,altText)
	section.selectEntry
		//- image dimensions 51x86px
		if imgSrc
			div.image
				img(src=imgSrc, alt=altText)
		else
			div.image
				img(src="http://lorempixel.com/51/86", alt="Lorem Placeholder")
		.meta
			h3=heading
			p.price=priceVal
			div.colourSelect
				//- clicking on the colour select should switch the image or substitute a different one by changing the src
				a(href="#").colour1
				a(href="#").colour2

mixin newInEntry1
	// NEW IN ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 New-In
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Abstract Dooted Dress','$21.5')
			+selectEntry1('Flair Trap Dress','$22.5')
			+selectEntry1('Chipon & Floral Dress','$23.5')
	// END NEW IN ENTRY PRODUCT ------------------------------------------------


mixin featuredEntry1
	// FEATURED ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 Featured
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Teenager Dress','$22.5')
			+selectEntry1('Warm Dress','$25.5')
			+selectEntry1('Dotted Mosaic Dress','$21.5')
	// END FEATURED ENTRY PRODUCT ------------------------------------------------

mixin topPickEntry1
	// TOP PICK ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 Top
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Abstract Dooted Dress','$21.5')
			+selectEntry1('Flair Trap Dress','$22.5')
			+selectEntry1('Chipon & Floral Dress','$23.5')
	// END TOP PICK ENTRY PRODUCT ------------------------------------------------
	

//- END MIXINS

//- each press of the previous/next buttons should display a new div
//- you could use jQuery to construct a random selection?

section.featurePanel
	.wrapper
		section.newIn
			+newInEntry1
		section.featured
			+featuredEntry1
		section.top
			+topPickEntry1

////////////////////////////////////////////