////////////////////////////////////////////
// 		HERO BLOCK
/////////////////////////////////////////

section.heroBlock.heroBlock042715
	//- use a background image
	.imageshader
		//- this is for lightening the background cover
	.wrapper
		.copy
			h1 Lady
			p Rethink your swimwear and take it to the street
			
			//- div
			//- 	//- set the background to transparent so the parent div will provide the background
			//- 	a(href=viewLookBookLink) View the Lookbook
			

			//- this is a case where you wrap the div and the p in the link and style the div
			a(href=viewLookBookLink)
				div
					div.slash
					//- the div will hold the before element
					p View the Lookbook
					//- div.slash
		.fillspace

////////////////////////////////////////////