//- ===================================
//- 		MIXINS PROJECT
//- ===================================

//- These mixins are specific to this project only.
//- move mixins here only if they are required in other sections of the site

mixin companyLogo1
	//- you could construct this image using html and css or SVG
	//- logo goes here
	//- create a mixin to construct it and insert here
	//- it is the same size throughout
	//- NOTE: the CSS styling of the logo in the .footer is different as the slanted slash is made yellow so it's visible agaisnt black background
	aside.companyLogo
		.bar
			.slash


//- END MIXINS PROJECT 