////////////////////////////////////////////
// 		NEWSLETTER
/////////////////////////////////////////

section.newsletter
	.wrapper
		p Get latest new and coupon from lady
		h2 Subscribe
		+companyLogo1
		//- a FA icon of a paper airplane must be placed ::before the input and/or absolutely positioned
		input(placeholder='Your Email Address')

////////////////////////////////////////////