////////////////////////////////////////////
// 		NEWSLETTER
/////////////////////////////////////////

section.newsletter
	.wrapper
		p.leadIn Get latest news and coupons from lady
		h2 Subscribe
		+companyLogo1(companyLogoEnabled)
		
		form(id="newsletter1", method="", action="")
			span
				//- a FA icon of a paper airplane must be placed ::before the input and/or absolutely positioned
				input(type='email', name='email', placeholder='Your Email Address')

////////////////////////////////////////////