//- ===================================
//- 		GLOBAL VARIABLES
//- ===================================

//- variables I want to be able to access in any part of the project code

//- ===================================
//- 		NAVIGATION MENU
//- ===================================

- var newArrivalsLink = '#';
- var womenLink = '#';
- var menLink = '#';
- var accessoriesLink = '#';
- var dressLink = '#';
- var saleOffLink = '#';
- var lookbookLink = '#';
- var thisWeekLink = '#';

- var navLinkObj = {"New Arrivals":newArrivalsLink,"Women":womenLink,"Men":menLink,"Accessories":accessoriesLink,"Dress":dressLink,"Sales-Off":saleOffLink,"Lookbook":lookbookLink,"This Week":thisWeekLink};

//- END NAVIGATION MENU

//- ===================================
//- 		HERO BLOCK FOR .heroBlock042715
//- ===================================

- var viewLookBookLink = '#';

//- END HERO BLOCK FOR .heroBlock042715

//- ===================================
//- 		PRODUCTS DISPLAY
//- ===================================



//- END PRODUCTS DISPLAY

//- ===================================
//- 		FOOTER
//- ===================================

- var fbLink = '#';
- var twitterLink = '#';
- var pinterestLink = '#';
- var instagramLink = '#';
- var gplusLink = '#';

- var homeLink = '#';
- var aboutLink = '#';
- var payLink = '#';
- var shipLink = '#';

//- END FOOTER

//- END VARIABLES